/*Nav*/
nav {
  background-image: url("../multimedia/fondo.png");
  display: flex;
  justify-content: center;
  background-color: #fbe8de; }
  nav .subtitulo {
    display: inline-block;
    background-color: #000000;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #eb542a;
    box-shadow: inset 0 0 0 0 #eb542a;
    transition: ease-out 0.5s;
    outline: none; }
    nav .subtitulo:hover {
      box-shadow: inset 900px 0 0 0 #eb542a;
      border-radius: 30px; }
    nav .subtitulo a {
      color: #fbe8de;
      text-decoration: none;
      font-size: 20px;
      margin: 25px;
      padding: 10px;
      transition: ease-out 0.1s; }
      nav .subtitulo a:hover {
        color: #000000; }

/*banner*/
.bannerTablas {
  background-image: url("../multimedia/fondo.png");
  width: 100%;
  height: 450px;
  background-color: #fbe8de;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }
  .bannerTablas .textoBannerTablas .titulo {
    font-size: 70px;
    margin-bottom: 50px;
    color: #000000;
    font-family: 'Antonio', sans-serif;
    /*underline*/
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: #eb542a;
    text-decoration-thickness: 9px; }

/*Lista contenido*/
.itemsFlex {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px; }

.listaIndex {
  display: flex;
  flex-direction: column; }
  .listaIndex h4 {
    color: #000000; }
  .listaIndex .linksIndex {
    list-style-type: circle; }
    .listaIndex .linksIndex a {
      text-align: left;
      text-decoration: none;
      color: #000000;
      transition: ease-out 0.1s; }
      .listaIndex .linksIndex a:hover {
        color: #eb542a; }

/*Tabla*/
.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }

table {
  width: 700px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px #0000003f;
  border-radius: 29px;
  background: #ffffff; }

th,
td {
  padding: 20px;
  background-color: #ffffff38;
  color: #000000; }

th {
  text-align: left; }

thead th {
  background-color: #000000;
  text-align: center;
  color: #ffffff; }

tbody tr {
  box-shadow: inset 0 0 0 0 #eb542a;
  transition: ease-out 0.5s;
  outline: none; }
  tbody tr:hover {
    box-shadow: inset 900px 0 0 0 #eb542a36; }

tbody td {
  position: relative;
  text-align: center; }
  tbody td:hover {
    color: #000000; }
    tbody td:hover:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -9999px;
      bottom: -9999px;
      background-color: #eb542a4b;
      z-index: -1; }

/*Texto*/
.textoTablas {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 200px; }
  .textoTablas h1 {
    color: #000000;
    font-family: 'Antonio', sans-serif; }
  .textoTablas p {
    margin-top: 0;
    color: #000000; }

/*Texto entre tablas MEDIA QUERISSSSS

.speechBubble{
    display: flex;
    justify-content: center;
    align-items: center;
    .textoEntreTablas {
	    // layout
        margin: 30px 10px;
	    position: relative;
	    max-width: 30em;
	    // looks
	    background-color: $colorTerciario;
	    padding: 1.125em 1.5em;
	    border-radius: 1rem;
        box-shadow:	0 0.125rem 0.5rem rgba(255, 255, 255, 0.3), 0 0.0625rem 0.125rem rgba(255, 255, 255, 0.2);
        &::before {
        // layout
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        left: 1.5em; // offset should move with padding of parent
        border: .75rem solid transparent;
        border-top: none;
    
        // looks
        border-bottom-color: $colorTerciario;
        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
    }
}
}*/
/*Texto entre tablas*/
.speechBubble {
  display: flex;
  justify-content: right; }
  .speechBubble .textoEntreTablas {
    margin: 30px 20px;
    position: absolute;
    max-width: 250px;
    color: #ffffff;
    background-color: #eb542a;
    padding: 1.125em 1.5em;
    border-radius: 1rem;
    /* looks
        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
    }*/ }
    .speechBubble .textoEntreTablas::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid #eb542a;
      border-top: 10px solid #eb542a;
      border-bottom: 10px solid transparent;
      left: -19px;
      top: 10px; }

/*
.tabla{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    table{
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.37);
        width: 50%;
        color: $textoClaro;
        border: $colorPrincipal;
        background-color: $colorSecundario;
        margin: 20px;
        th{
            color: $textoClaro;
            padding: 1em;
            background-color: $colorTerciario;
        }
    }
}*/
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fbe8de;
  background-image: url("../multimedia/fondo.png"); }

/*Scroll*/
html {
  scroll-behavior: smooth; }

/*Banner*/
.banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  text-align: center; }
  .banner .textoBanner .titulo {
    font-size: 70px;
    padding-bottom: 50px;
    padding-top: 65px;
    color: #000000;
    font-family: 'Antonio', sans-serif;
    /*underline*/
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: #eb542a;
    text-decoration-thickness: 9px; }
  .banner .textoBanner .parrafo {
    color: #000000;
    padding-right: 390px;
    padding-left: 390px; }
  .banner .textoBanner .subtitulo {
    display: inline-block;
    background-color: #000000;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 130px;
    margin-top: 50px;
    box-shadow: inset 0 0 0 0 #eb542a;
    transition: ease-out 0.5s;
    outline: none; }
    .banner .textoBanner .subtitulo:hover {
      box-shadow: inset 800px 0 0 0 #eb542a;
      border-radius: 30px; }
    .banner .textoBanner .subtitulo a {
      color: #fbe8de;
      text-decoration: none;
      font-size: 20px;
      margin: 25px;
      padding: 10px;
      transition: ease-out 0.4s; }
      .banner .textoBanner .subtitulo a:hover {
        color: #000000; }
