.tabla {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  text-align: center; }
  .tabla table {
    width: 50%;
    color: #ffffff; }
    .tabla table th {
      background-color: #3B5249;
      color: #ffffff; }

.textoTablas {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: 40%; }
  .textoTablas p {
    margin-top: 0; }

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #181818;
  color: #ffffff; }

.navbar-dark {
  background-color: #181818; }

.btn img {
  width: 40px;
  height: 40px; }

/*Banner*/
.banner {
  width: 100%;
  height: 200px;
  background-color: #212529;
  text-align: center; }
  .banner .titulo {
    padding-top: 40px;
    color: #ffffff; }
  .banner .subtitulo {
    display: inline-block;
    background-color: #519872;
    border-radius: 30px;
    padding: 10px; }
  .banner .iconoBanner img {
    height: 70px;
    width: 70px;
    margin-top: 4px;
    margin-left: 50%; }

/*Texto principal*/
.textoIntro {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  margin-top: 50px;
  width: 40%; }
  .textoIntro p {
    margin-top: 0; }

/*Lista contenido*/
.itemsFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px; }

.iconoTitulo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 50px;
  margin-bottom: 50px; }
  .iconoTitulo img {
    height: 55px;
    width: 55px;
    margin-right: 20px; }

h2 {
  margin-top: 20px; }

h4 {
  margin-top: 20px; }

.linksIndex a {
  text-align: left;
  text-decoration: none;
  color: #ffffff; }
  .linksIndex a:hover {
    color: #3B5249;
    text-decoration-color: #519872; }
