$colorPrincipal: #fefff8;
$colorSecundario: #eb542a;
$colorTerciario: #1e403b;
$colorPrincipalTrans: #eb542a4b;
$textoClaro: #ffffff;
$textoOscuro: #1e403b;

/*$colorPrincipal: #fbe8de;
$colorSecundario: #eb542a;
$colorTerciario: #000000;
$colorPrincipalTrans: #eb542a4b;
$textoClaro: #ffffff;
$textoOscuro: #000000;*/