$colorPrincipal: #ebebeb;
$colorSecundario: #1c1c1c;
$colorTerciario: #419c83;
$colorPrincipalTrans: #419c8415;

// $colorPrincipal: #ebebeb;
// $colorSecundario: #1c1c1c;
// $colorTerciario: #419c83;
// $colorPrincipalTrans: #419c8415;