$colorPrincipal: #ECECEC;
$colorSecundario: #222222;
$colorTerciario: #222222;
$colorPrincipalTrans: #eb542a4b;
$textoClaro: #000000;
$textoOscuro: #222222;

/*$colorPrincipal: #1f1f1f;
$colorSecundario: #B7B6DBff;
$colorTerciario: #B7B6DBff;
$colorPrincipalTrans: #eb542a4b;
$textoClaro: #000000;
$textoOscuro: #ffffff;*/

/*$colorPrincipal: #fbe8de;
$colorSecundario: #eb542a;
$colorTerciario: #000000;
$colorPrincipalTrans: #eb542a4b;
$textoClaro: #ffffff;
$textoOscuro: #000000;*/