@import "variables";
@import "glosarios";

body{
    font-family: 'Poppins', sans-serif;
    background-color: $colorPrincipal;
    background-image: url("../multimedia/fondo.png");
}

/*Scroll*/
html{
    scroll-behavior: smooth;
}

/*Banner*/
.banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    .textoBanner{
        .titulo{
            font-size: 70px;
            padding-bottom: 50px;
            padding-top: 65px;
            color: $textoOscuro;
            font-family: 'Antonio', sans-serif;
            /*underline*/
            text-decoration-line: underline;
            text-decoration-style: "solid";
            text-decoration-color: $colorSecundario;
            text-decoration-thickness: 9px;
        }
        .parrafo{
            color: $textoOscuro;
            padding-right:390px;
            padding-left:390px;
            }
            .subtitulo{
                display: inline-block;
                background-color: $colorTerciario;
                border-radius: 30px;
                padding:10px;
                margin-bottom: 130px;
                margin-top: 50px;
                box-shadow: inset 0 0 0 0 $colorSecundario;
                transition: ease-out 0.5s;
                outline: none;
                    &:hover{
                        box-shadow: inset 800px 0 0 0 $colorSecundario;
                        border-radius: 30px;
                    }
                a{
                color: $colorPrincipal;
                text-decoration: none;
                font-size: 20px;
                margin: 25px;
                padding: 10px;
                transition: ease-out 0.4s;
                &:hover{
                    color: $textoOscuro;
                        }
                }
            }
        }    
    }