body{
    font-family: 'Noto Sans', sans-serif;
}

.btn{
    img{
        width: 30px;
        height: 30px;
    }
}

.banner{
    width: 100%;
    height: 200px;
    background-color: #bacbcf;
    text-align: center;
        .titulo{
            padding-top: 40px;
        }
        .subtitulo{
            display: inline-block;
            background-color: white;
            border-radius: 30px;
            padding:10px;
        }
        .iconoBanner{
            img{
                height: 70px;
                width: 70px;
                margin-top: 5px;
                margin-left: 50%;
            }
    }
}

.textoIntro{
    text-align: justify;
    margin-left: 33%;
    margin-top: 35px;
    width: 35%;
}

.itemsFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}

.iconoTitulo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 50px;
    margin-bottom: 50px;
        img{
            height: 40px;
            width: 40px;
            margin-right: 10px;
        }
}