@import "variables";
@import "tablas";

body{
    font-family: 'Poppins', sans-serif;
    background-color: $colorPrincipal;
}

.navbar{
    background-color: $colorSecundario;
    border-bottom: 1px solid $colorTerciario;
    div{
        a{
            color: $textoClaro;
            img{
                width: 65px;
                height: 65px;
            }
            &:hover{
            color:$colorTerciario;
            background-color: $colorPrincipalTrans;
            }
        }
    }
}

.dropdown-menu{
    background-color: $colorPrincipal
}

/*Shape divider
.custom-shape-divider-bottom-1666711326 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666711326 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1666711326 .shape-fill {
    fill: $colorPrincipal;
}*/

.custom-shape-divider-bottom-1666890719 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666890719 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 149px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1666890719 .shape-fill {
    fill: $colorPrincipal;
}
/*Banner*/
.banner{
    position:relative; /*para el shapedivider*/
    width: 100%;
    height: 550px;
    background-color: $colorSecundario;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .textoBanner{
        .titulo{
            width: 500px;
            margin-bottom: 40px;
            color: $textoOscuro;
            font-family: 'Antonio', sans-serif;
        }
        .parrafo{
            color: $textoOscuro;
            width: 600px;
        }
        .subtitulo{
            color: $colorSecundario;
            display: inline-block;
            background-color: $colorTerciario;
            border-radius: 30px;
            padding:10px;
            margin-bottom: 50px;
        }
    }
    .iconoBanner{
        img{
            height: 350px;
            width: 350px;
            margin-bottom: 80px;
            
        }
}
}

/*Lista contenido*/
.itemsFlex{
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.listaIndex{
    display: flex;
    flex-direction: column;
    h4{
    color: $textoOscuro;
}
.linksIndex{
    a{
    text-align: left;
    text-decoration: none;
    color: $textoOscuro;
    &:hover{
        color: $colorTerciario;
    }
}
}
}

/*Footer*/
